In [1]:
import pandas as pd
baby = pd.read_csv('data/babynames.csv')
baby

            Name Sex  Count  Year
0           Liam   M  19659  2020
1           Noah   M  18252  2020
2         Oliver   M  14147  2020
3         Elijah   M  13034  2020
4        William   M  12541  2020
...          ...  ..    ...   ...
2020717      Ula   F      5  1880
2020718   Vannie   F      5  1880
2020719   Verona   F      5  1880
2020720   Vertie   F      5  1880
2020721    Wilma   F      5  1880

[2020722 rows x 4 columns]

In [2]:

def count_unique(s):
    return len(s.unique())

unique_names_by_year = (baby
 .groupby('Year')
 ['Name']
 .agg(count_unique) # aggregate using the custom count_unique function
)
unique_names_by_year

Year
1880     1889
1881     1829
1882     2012
1883     1962
1884     2158
        ...
2016    30431
2017    30042
2018    29619
2019    29417
2020    28613
Name: Name, Length: 141, dtype: int64

In [3]:
# Since this function is short, we could use a lambda instead

unique_names_by_year = (baby
    .groupby('Year')['Name']
    .agg(lambda s: len(s.unique()))
)

unique_names_by_year

Year
1880     1889
1881     1829
1882     2012
1883     1962
1884     2158
        ...
2016    30431
2017    30042
2018    29619
2019    29417
2020    28613
Name: Name, Length: 141, dtype: int64